body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc; /* Beige background */
    color: #333;
    font-size: 18px; /* Increased font size */
}

.calculator {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make menu options bold */
    font-size: 20px; /* Increased font size of menu options */
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increased font size of input fields */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Bold text for the button */
    font-size: 20px; /* Increased font size of button text */
}

button:hover {
    background-color: #0056b3;
}

.result {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.pie-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-chart {
    margin: 20px auto;
    width: 300px; /* Reduced pie chart size */
    height: 300px; /* Reduced pie chart size */
}

.labels {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.label {
    font-size: 16px;
    text-align: center;
}

.fixed-income-label {
    color: #FF6384; /* Red color for fixed income label */
}

.equity-label {
    color: #36A2EB; /* Blue color for equity label */
}

.final-result {
    margin-top: 20px;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .calculator {
        padding: 10px;
    }
    
    .input-group label {
        font-size: 16px;
    }

    .input-group input, .input-group select {
        font-size: 16px;
    }
    .labels {
        flex-direction: column;
        align-items: center;
    }

    .label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    button {
        font-size: 18px;
    }

    .pie-chart {
        width: 250px;
        height: 250px;
    }
}
